:root {
  font-family: Cascadia Code;

  color: #0e0e0ede;
  background-color: #dadadade;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #0e0e0ede;
}
a:hover{
  color: crimson;
}